.navbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.logo {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.25rem;
}

.spacer {
  flex: 1;
}
