<a class="card" [routerLink]="link()">
  <div class="header">
    <div class="title-row">
      <div class="title">{{ title() }}</div>
      @if (subtitle(); as subtitle) {
        <div class="subtitle">{{ subtitle }}</div>
      }
    </div>
  </div>

  @if (imageSrc(); as imageSrc) {
    <div class="image-wrapper">
      <img class="image" [src]="imageSrc" [attr.alt]="imageAlt()" loading="lazy" />
    </div>
  }

  @if (description(); as description) {
    <div class="footer">
      {{ description }}
    </div>
  }
</a>
