@use '@angular/material' as mat;
@use "./app/themes/bluetheme.css";

html {
  @include mat.theme(
    (
      typography: Inter,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light ;

  font-family: Inter, "Helvetica Neue", sans-serif;

  margin: 0;
}

html, body {
  height: 100%;
}
