@use '@angular/material' as mat;
@use "./app/themes/bluetheme.css";

html {
  @include mat.theme(
    (
      typography: Inter,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light ;

  font-family: Inter, "Helvetica Neue", sans-serif;

  margin: 0;
}

html, body {
  height: 100%;
}

[matIconButton].primary {
  @include mat.icon-overrides(
    (
    color: var(--mat-sys-primary),
    )
  )
}

.accent {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-tertiary),
    filled-label-text-color: var(--mat-sys-on-tertiary),
    outlined-label-text-color: var(--mat-sys-tertiary),
    protected-label-text-color: var(--mat-sys-tertiary),
    text-label-text-color: var(--mat-sys-tertiary),
    text-state-layer-color: var(--mat-sys-tertiary),
    protected-state-layer-color: var(--mat-sys-tertiary),
    outlined-state-layer-color: var(--mat-sys-tertiary),
  ))
}

.secondary {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-surface-dim),
    filled-label-text-color: var(--mat-sys-on-surface),
    outlined-label-text-color: var(--mat-sys-secondary),
    protected-label-text-color: var(--mat-sys-secondary),
    text-label-text-color: var(--mat-sys-secondary),
    text-state-layer-color: var(--mat-sys-secondary),
    protected-state-layer-color: var(--mat-sys-secondary),
    outlined-state-layer-color: var(--mat-sys-secondary),
  ))
}

.error {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-error),
    filled-label-text-color: var(--mat-sys-on-error),
    outlined-label-text-color: var(--mat-sys-error),
    protected-label-text-color: var(--mat-sys-error),
    text-label-text-color: var(--mat-sys-error),
    text-state-layer-color: var(--mat-sys-error),
    protected-state-layer-color: var(--mat-sys-error),
    outlined-state-layer-color: var(--mat-sys-error),
  ))
}

.square {
  @include mat.button-overrides((
    filled-container-shape: 8px,
    outlined-container-shape: 8px,
    protected-container-shape: 8px,
    text-container-shape: 8px,
    tonal-container-shape: 8px,
  ))
}
